
button {
    border: none;
    cursor: pointer;
    font-family: karla, sans-serif;
    font-weight: 700;
}

.page {
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}

.die-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px; 
}

.die {
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background: white;
    border-radius: 10px;
    font-size: 1.75rem
}

.die:active {
    background: #59E391;
}

.rollButton {
    height: 50px;
    width: 100px;
    border-radius: 6px;
    font-size: 1.2rem;
    color: white;
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
}

